@mixin text-style{
    color:blue;
    font-weight: bold;
    font-size: 60px;
}

@mixin custom-border-radius($radius){
    border-radius: $radius;
    background-color: pink;
    border:3px solid #000;
}